body {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.dark p {
    color: #E5E7EB;
}

.light p {
    color: black;
}

.top {
    margin: 0;
    padding: 8px 15%;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo h1 {
    font-size: 24;
    font-weight: 1000;
    color: #F9FAF8;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
    font-size: 18px;
}

.navbar a {
    color: #E5E7EB;
    font-weight: bold;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}

.hero img {
    /*This keeps the image from losing its aspect ratio at the cost of making the webpage look weird on smaller sizes*/
    object-fit: contain;
    max-width: 400px;
    height: auto;
}

.hero .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
}

.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    padding: 8px 32px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 8px;
}

.middle {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.middle h2 {
    font-size: 36px;
    font-weight: 1000;
}

.cards {
    display: flex;
    gap: 64px;
    justify-content: center;

}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 8px;
    width: 150px;
}

.card .image {
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 72px 20%;
}

.quote blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    align-self: flex-start;
}

.action {
    align-self: center;
    border-radius: 10px;
    max-width: 800px;
    width: 50%;
    background-color: #3882F6;
    margin: 100px;
    display: flex;
    padding: 48px 100px;
    justify-content: space-between;
    align-items: center;
}

.action .left {
    color: #F9FAF8;
}

.action h3 {
    font-size: 24px;
}

.action button {
    border: 2px solid white;
}

.footer {
    background-color: #1F2937;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
